{{! @template
{
    "showcoursecategory": true,
    "coursecategory": "Category name",
    "fullname": "Example Course Fullname",
    "sendername": "Instructor Name"
}
}}

<div role="list">

{{< core_course/coursecard }}
    {{$coursecategory}}
        {{#showcoursecategory}}
            <span class="sr-only">
                {{#str}}aria:coursecategory, core_course{{/str}}
            </span>
            <span class="text-truncate">{{{coursecategory}}}</span>
        {{/showcoursecategory}}
    {{/coursecategory}}

    {{$coursename}}
        <span class="">{{{fullname}}}</span>
        <div class="small text-muted mt-1">
            {{#str}}by, block_recommend_course{{/str}}
            {{#sendername}}
                {{sendername}}
            {{/sendername}}
        </div>
    {{/coursename}}
{{/ core_course/coursecard }}

</div>
