{{! @template
{
    "rows": [
        {
            "sender": "John Doe",
            "receiver": "Jane Smith",
            "courseurl": "https://example.com/course/1",
            "coursename": "Sample Course",
            "date": "2025-01-01"
        }
    ]
}
}}

<div class="table-wrapper">
    <table id="recommended-table" class="table table-bordered table-striped">
        <caption class="sr-only">{{#str}}history_table_caption, block_recommend_course{{/str}}</caption>
        <thead>
            <tr>
                <th scope="col">{{#str}}recommended_by, block_recommend_course{{/str}}</th>
                <th scope="col">{{#str}}recommended_to, block_recommend_course{{/str}}</th>
                <th scope="col">{{#str}}course, block_recommend_course{{/str}}</th>
                <th scope="col">{{#str}}recommended_date, block_recommend_course{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#rows}}
                <tr>
                    <td>{{sender}}</td>
                    <td>{{receiver}}</td>
                    <td><a href="{{courseurl}}">{{coursename}}</a></td>
                    <td>{{date}}</td>
                </tr>
            {{/rows}}
        </tbody>
    </table>
</div>
