{{! @template
{
    "uniqid": "123abc",
    "userid": 10,
    "displaycategories": true
}
}}

<div id="block-recommend_course-{{uniqid}}" class="block_recommend_course block-cards"
     data-region="available_courses"
     data-userid="{{userid}}"
     data-displaycoursecategory="{{displaycategories}}">

    <!-- Wrapper required for role=listitem in course-card.mustache -->
    <div class="recommend-list" role="list" data-region="recommend-list">

        <div class="container-fluid p-0">
            {{> block_recommend_course/todocourses-view }}
        </div>

    </div>
</div>
