{{! @template
{
    "tabs": [
        { "id": "all", "label": "All", "url": "#all", "active": true },
        { "id": "recommended", "label": "Recommended", "url": "#recommended", "active": false }
    ]
}
}}

{{! Manage nav for recommend_course plugin }}
<ul class="block_recommend_course-tabs">
    {{#tabs}}
    <li class="tab-button {{#active}}active{{/active}}" data-tab="tab-{{id}}">
        <a href="{{{url}}}">{{label}}</a>
    </li>
    {{/tabs}}
</ul>
